.clock-container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.clock-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-container canvas {
  width: 60svw;
  height: 60svw;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}
