.clock-container-outer {
  display: inline-block;
}
.clock-container {
  width: 50svw;
  height: 50svw;
  max-width: 50svh;
  max-height: 50svh;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.clock-container canvas {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(1.4);
}
